@import "tailwindcss";

:root {
  --background: #f8f7f6;
  --foreground: #1d1c1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #1d1c1b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #161618;
    --foreground: #fcfcfc;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
